# Tes Code

## Library

In [110]:
import typer
import pandas as pd
import re
from dateutil import parser
import numpy as np
from functools import lru_cache
import pycountry

## Load Dataset

In [111]:
df1 = pd.read_csv("Raw Data/custdirty_data.csv")
df2 = pd.read_csv("Raw Data/government_citizenship_dirty.csv")
df3 = pd.read_csv("Raw Data/hospital_data_dirty.csv")

## Read Dataset

In [112]:
df1

,ID,CustomerID,Product_Category,Purchase_Date,Price,Quantity,Product_Description,Country,Phone_Number,Email
0,1,CUST_001,Electronics,Mar 05 2024,65.58,11.0,"Today, federal, claim, report, consider, publi...",USA,250518 1271,eric82@example.com
1,2,CUST_002,Electronics,May 29 2024,335.85,1.0,Alone appear example.,Canada,891.222.8992x0833,allentodd@example.org
2,3,CUST_003,Electronics,May 28 2024,106.92,19.0,"DIRECTION, SECURITY, WHO, GROUND, TRIP, ROOM. ...",United Kingdom,(926)729-9917x4080,oschultz@example.com
3,4,CUST_004,Clothing,Jun 30 2024,389.70,6.0,"Answer, huge, six, new, tough. - picture",Canada,(421)698-4215x479,ajohnson@example.org
4,5,CUST_005,Furniture,14/10/2024,140.78,14.0,Recent last economic establish understand.,Canada,294283 6286,andersonsheriexample.org.
...,...,...,...,...,...,...,...,...,...,...
10295,7431,CUST_7431,Furniture,Feb 24 2024,445.08,6.0,"Meeting, adult, choose, customer, see, base. -...",USA,785235 4238x89420,erinleon@example.net
10296,940,CUST_940,Clothing,Jun 13 2024,188.90,9.0,Actually home blue get.,Usa,380 450 1416x0693,obrienmichael@example.org
10297,9519,CUST_9519,Clothing,Apr 04 2024,371.88,NaN,Option stand determine course include.,Usa,434 895 9812,brownjames@example.net
10298,1804,CUST_1804,Books,May 06 2024,165.60,18.0,"ACCOUNT, AFFECT, NIGHT. - ATTACK",CAN,8682519899,thomas86@example.com
10299,8721,CUST_8721,Clothing,2024-08-12,90.66,4.0,"Fall, task, vote, remain, my, score. - toward",Usa,(258)677-4853x19920,kyle30@example.org

In [113]:
df2

,CitizenID,Name,BirthDate,Nationality,Address,VotingStatus,PassportNumber,TaxID,MaritalStatus,CriminalRecord,EducationLevel,Income,ImmigrationYear
0,CIT_001,Allen Novak,1968-06-16,USA,"597 Carr Creek Apt. 464; West Andrew; NE 76236,",No,460200468,NaN,Married,No,HS,42533.54,NaN
1,CIT_002,TAMARA RAMSEY,1987-02-11,FRANCE,"3899 Medina Roads; Crystaltown; NY 04112,",No,INVALID_our,TAX-002-36,S,No,Masters,28175.78,NaN
2,CIT_003,David Williams,1937-12-15,Bharat,"03064 Eric Ferry; Port Rebecca; AZ 09961,",Y,E48182721,TAX-003-03,Widowed,,High School,143299.35,1986.0
3,CIT_004,Desiree Willis,1991-03-24,USA,"773 Perry Flats; East Michael; WY 77221,",Y,O98365870,TAX_004_11,Married,No,Doctorate,105629.33,NaN
4,CIT_005,Terry Gill,2000-10-15,FR,"214 Michael Crescent Suite 393, New Paulport, ...",N,R72171677,TAX-005-00,S,Pending,PhD,117985.07,2005.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,CIT_3673,Scott Barrett,1950-03-08,IND,"10041 Fisher Row Suite 135, Lake Anneburgh, GA...",N,407208444,NaN,Unknown,,PhD,99415.01,NaN
10496,CIT_8693,JAMES BROWN,2000-12-13,US,"563 Romero Ferry, Petersonport, OR 06511",N,983829316,TAX-8693-20,Unknown,NaN,PhD,128327.81,NaN
10497,CIT_7140,Susan Beck,2001-05-11,US,"31275 Michelle Well Suite 725, West Randytown,...",,INVALID_enjoy,TAX-7140-50,Single,Yes,High School,26909.17,NaN
10498,CIT_779,JACKSON STOUT,1983-08-18,India,"10300 Michelle Passage, Amandaburgh, RI 93986",Registered,O91186652,TAX-779-15,S,No,High School,132278.13,1969.0
10499,CIT_2923,DAWN LANE,2002-12-23,United States,"07158 Tamara Drives Apt. 970, Brooksfurt, CT 3...",No,S29245729,TAX-2923-67,Married,Yes,PhD,52938.39,NaN

In [114]:
df3

,PatientID,AdmissionDate,DischargeDate,Diagnosis,Treatment,Doctor,Department,Age,Gender,BloodType,Medication,TestResults,BillingAmount,InsuranceProvider,AppointmentDate
0,PT_001,2024-10-03,2025-05-11,Appendicitis,"Special with job,",Carl Beard,Orthopedics,81,Female,B+,NaN,85/67,9495.73,NaN,2024-02-17
1,PT_K_2,2023-06-27,2023-12-05,Fracture,"Certainly way ten,",Mary Sanchez,Endo,-88,M,O-,civil,140/118,8681.08,HC Insurance,2023-08-08
2,PT_003,2024-05-18,2025-04-29,Appendicitis,"Study small,",Mr. Patrick Harris MD,Orthopedics,94,M,O-,word,92/95,2829.42,NaN,2024-05-21
3,PT_004,Mar 11 1978,2019-10-26,COPD,"Investment human,",Donald Roach,Endocrinology,26,F,A+,NaN,140/119,1121.27,NaN,2024-11-03
4,PT_005,2024-11-23,2024-12-02,Diabetes,"Every coach,",NaN,Ortho,35,Female,B-,NaN,71/68,5555.75,HC Insurance,2023-11-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10295,PT_691,2024-03-16,NaN,COPD,"Focus population green,",Jennifer Rodriguez,Cardio,68,Female,O+,step,High,5014.95,HealthPlus,2024-04-21
10296,PT_7247,2023-03-29,2024-10-27,Fracture,"Hold,",Christine Morris,Ortho,15,F,O-,floor 1 units,98/68,8152.91,NaN,2023-12-14
10297,PT_4814,Oct 11 1998,2005-04-22,Fracture,"Imagine power PM,",Luis May,Endocrinology,3,Male,A+,senior,181/80,2323.13,NaN,2024-06-13
10298,PT_8633,2024-02-01,2024-11-28,Dyabetes,"Morning body than,",Jamie King,Cardiology,52,M,AB+,NaN,169/46,3466.39,HealthPlus,2024-06-26
10299,PT_2977,Mar 31 2017,2018-02-01,COPD,"Notice after staff,",Thomas Perry,Cardilogy,89,U,A+,edge,72/46,5592.93,MediCare,2024-01-24

## Missing Value

In [115]:
print(df1.isna().sum())

ID                        0
CustomerID              514
Product_Category       1309
Purchase_Date             0
Price                     0
Quantity                765
Product_Description       0
Country                   0
Phone_Number              0
Email                     0
dtype: int64

In [116]:
print(df2.isna().sum())

CitizenID             0
Name                  0
BirthDate             0
Nationality           0
Address               0
VotingStatus          0
PassportNumber        0
TaxID              1082
MaritalStatus         0
CriminalRecord     2093
EducationLevel        0
Income                0
ImmigrationYear    7893
dtype: int64

In [117]:
print(df3.isna().sum())

PatientID               0
AdmissionDate           0
DischargeDate        3052
Diagnosis               0
Treatment               0
Doctor               1059
Department              0
Age                     0
Gender                  0
BloodType               0
Medication           4151
TestResults             0
BillingAmount           0
InsuranceProvider    3685
AppointmentDate         0
dtype: int64

## Preprocessing

### Kolom ID

In [118]:
len(df1)

10300

In [119]:
def apakah_kolom_id(kolom):
    pattern = r'(id)[_A-Z]?'
    return re.search(pattern, kolom, re.IGNORECASE)

def identifikasi_kolom_id(df, threshold = 0.7):
    kolom_id = []
    for kolom in df.columns:
        ratio = df[kolom].nunique() / len(df)
        if (ratio >= threshold) and apakah_kolom_id(kolom):
            kolom_id.append(kolom)
    return kolom_id

print(f"DF 1 {identifikasi_kolom_id(df1)}")
print(f"DF 2 {identifikasi_kolom_id(df2)}")
print(f"DF 3 {identifikasi_kolom_id(df3)}")

DF 1 ['ID', 'CustomerID']
DF 2 ['CitizenID', 'TaxID']
DF 3 ['PatientID']

### Drop Kolom

In [120]:
kolom_id1 = identifikasi_kolom_id(df1)
kolom_id2 = identifikasi_kolom_id(df2)
kolom_id3 = identifikasi_kolom_id(df3)

# df11 = df1.copy()
# df22 = df2.copy()
# df33 = df3.copy()

df1 = df1.drop(columns=kolom_id1)
df2 = df2.drop(columns=kolom_id2)
df3 = df3.drop(columns=kolom_id3)

print(df1.isna().sum())
print(df2.isna().sum())
print(df3.isna().sum())

Product_Category       1309
Purchase_Date             0
Price                     0
Quantity                765
Product_Description       0
Country                   0
Phone_Number              0
Email                     0
dtype: int64
Name                  0
BirthDate             0
Nationality           0
Address               0
VotingStatus          0
PassportNumber        0
MaritalStatus         0
CriminalRecord     2093
EducationLevel        0
Income                0
ImmigrationYear    7893
dtype: int64
AdmissionDate           0
DischargeDate        3052
Diagnosis               0
Treatment               0
Doctor               1059
Department              0
Age                     0
Gender                  0
BloodType               0
Medication           4151
TestResults             0
BillingAmount           0
InsuranceProvider    3685
AppointmentDate         0
dtype: int64

### Format Nama

In [121]:
def apakah_kolom_nama(kolom):
    pattern = r'(name|nama|pengguna)[_A-Z]?'
    return re.search(pattern, kolom, re.IGNORECASE)

def identifikasi_kolom_nama(df, threshold = 0.7):
    kolom_id = []
    for kolom in df.columns:
        ratio = df[kolom].nunique() / len(df)
        if (ratio >= threshold) and apakah_kolom_nama(kolom):
            kolom_id.append(kolom)
    return kolom_id
    
kolom_nama = identifikasi_kolom_nama(df2)

def format_name(name):
    return name.title()

for kolom in kolom_nama:
    df2[kolom] = df2[kolom].apply(format_name)

df2['Name']

0           Allen Novak
1         Tamara Ramsey
2        David Williams
3        Desiree Willis
4            Terry Gill
              ...
10495     Scott Barrett
10496       James Brown
10497        Susan Beck
10498     Jackson Stout
10499         Dawn Lane
Name: Name, Length: 10500, dtype: object

### Format Tanggal

In [122]:
df1['Purchase_Date']

0        Mar 05 2024
1        May 29 2024
2        May 28 2024
3        Jun 30 2024
4         14/10/2024
            ...
10295    Feb 24 2024
10296    Jun 13 2024
10297    Apr 04 2024
10298    May 06 2024
10299     2024-08-12
Name: Purchase_Date, Length: 10300, dtype: object

In [123]:
df2["BirthDate"]

0        1968-06-16
1        1987-02-11
2        1937-12-15
3        1991-03-24
4        2000-10-15
            ...
10495    1950-03-08
10496    2000-12-13
10497    2001-05-11
10498    1983-08-18
10499    2002-12-23
Name: BirthDate, Length: 10500, dtype: object

In [124]:
if df2["BirthDate"].dtype == "datetime64[ns]":
    print("mantap")
# df1['updateorder'] = np.random.randint(1, 101, size=len(df1))
# df1['purchasedate'] = np.random.randint(1, 101, size=len(df1))
# df1['updateorder']

In [125]:
def apakah_kolom_date(kolom):
    """
    Apakah Kolom Tanggal?
    Pola kata dari kolom yang ingin dihapus
    Mencari kolom dengan pola kata "date" dll
    """
    pattern1 = r'(date|tanggal|tgl|dt)\b|_(date|tanggal|tgl|dt)[_A-Z]?'
    verif1 = re.search(pattern1, kolom, re.IGNORECASE)
    # verif2 = re.search(pattern2, kolom, re.IGNORECASE)
    return verif1
    # return re.search(pattern, kolom, re.IGNORECASE)

def identifikasi_kolom_date(df):
    """
    Identifikasi Kolom ID
    """
    kolom_id = []
    for kolom in df.columns:
        if apakah_kolom_date(kolom):
            kolom_id.append(kolom)
    return kolom_id

for x in df1.columns:
    ratio = df1[x].nunique() / len(df1)
    print(ratio)
    print(apakah_kolom_date(x))
print(identifikasi_kolom_date(df1))
print(identifikasi_kolom_date(df2))
print(identifikasi_kolom_date(df3))

0.0006796116504854369
None
0.10660194174757281
<re.Match object; span=(8, 13), match='_Date'>
0.8632038834951457
None
0.0018446601941747574
None
0.970873786407767
None
0.0006796116504854369
None
0.970873786407767
None
0.9544660194174758
None
['Purchase_Date']
['BirthDate']
['AdmissionDate', 'DischargeDate', 'AppointmentDate']

In [126]:
formats = [
    '%d/%m/%y',  # dd/mm/yy
    '%d/%m/%Y',  # dd/mm/yyyy
    '%Y-%m-%d',  # yyyy-mm-dd
    '%b %d %Y',  # Mmm dd yyyy
    '%d %B %Y'   # dd Mmmm yyyy
]

def try_parsing_date(date_str, formats):
    for fmt in formats:
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    return pd.NaT
    
def safe_parse(date_str):
    date_str = str(date_str).strip()
    try:
        return parser.parse(date_str)
    except (ValueError, TypeError): 
        return pd.NaT 
# kolom_date = identifikasi_kolom_date(df1)
# for kolom in kolom_date:
#     df1[kolom] = df1[kolom].apply(parser.parse)
kolom_date1 = identifikasi_kolom_date(df1)
kolom_date2 = identifikasi_kolom_date(df2)
kolom_date3 = identifikasi_kolom_date(df3)

print(kolom_date1)
print(kolom_date2)
print(kolom_date3)

# df2['BirthDate'] = df2['BirthDate'].apply(safe_parse)
df2['BirthDate'] = df2['BirthDate'].apply(safe_parse)
# df2['BirthDate']

# df1["Purchase_Date"] = df1['Purchase_Date'].apply(parser.parse)
# df1['Purchase_Date']
# df1['Purchase_Date_Baru'] = df1['Purchase_Date'].apply(lambda x: try_parsing_date(x, formats))
# df1['Purchase_Date_Baru']
# df1['Purchase_Date_Baru'] = df1['Purchase_Date'].apply(parser.parse)
# df1['Purchase_Date_Baru']

['Purchase_Date']
['BirthDate']
['AdmissionDate', 'DischargeDate', 'AppointmentDate']

In [127]:
# bulan_dict = {
#     'januari': '01', 'februari': '02', 'maret': '03', 'april': '04',
#     'mei': '05', 'juni': '06', 'juli': '07', 'agustus': '08',
#     'september': '09', 'oktober': '10', 'november': '11', 'desember': '12'
# }
# def clean_date(date_str):
#     date_str = str(date_str).lower()
#     for bulan, angka in bulan_dict.items():
#         date_str = date_str.replace(bulan, angka)  # Ganti nama bulan dengan angka
#     return date_str

# df11['DateClean'] = df11['Purchase_Date'].apply(clean_date)
# df11

### Format Country

In [128]:
def apakah_kolom_country(kolom):
    pattern = r'(origin|citizenship|country|nationality)\b|_(origin|citizenship|country|nationality)[_A-Z]?'
    return re.search(pattern, kolom, re.IGNORECASE)

def identifikasi_kolom_country(df):
    kolom_id = []
    for kolom in df.columns:
        ratio = df[kolom].nunique() / len(df)
        if apakah_kolom_country(kolom):
            kolom_id.append(kolom)
    return kolom_id

def apakah_kolom_telp(kolom):
    pattern = r'\b(phone|telp|telephone)|(phone|telp|telephone)\b|_(phone|telp|telephone)[_A-Z]?'
    return re.search(pattern, kolom, re.IGNORECASE)

def identifikasi_kolom_telp(df, threshold = 0.7):
    kolom_id = []
    for kolom in df.columns:
        ratio = df[kolom].nunique() / len(df)
        if (ratio >= threshold) and apakah_kolom_telp(kolom):
            kolom_id.append(kolom)
    return kolom_id

print("kolom country")
print(f"DF 1 {identifikasi_kolom_country(df1)}")
print(f"DF 2 {identifikasi_kolom_country(df2)}")
print(f"DF 3 {identifikasi_kolom_country(df3)}")

kolom country
DF 1 ['Country']
DF 2 ['Nationality']
DF 3 []

In [129]:
print(df1['Country'].unique())
print(df2['Nationality'].unique())

['USA' 'Canada' 'United Kingdom' 'UK' 'CAN' 'usa' 'Usa']
['USA' 'FRANCE' 'Bharat' 'FR' 'America' 'France' 'India' 'IND' 'US'
 'United States']

In [130]:
df1['Country'].unique()

array(['USA', 'Canada', 'United Kingdom', 'UK', 'CAN', 'usa', 'Usa'],
      dtype=object)

In [131]:
country = "usa"
country = country.upper()
print(country)

USA

In [132]:
special_mapping = {
    'america': 'USA',
    'bharat': 'IND',
    'uk' : 'United Kingdom'
}

@lru_cache(maxsize=None)
def format_country(country):
    country = country.lower()
    if country in special_mapping:
        country = special_mapping[country]
    hasil_cari = pycountry.countries.search_fuzzy(country)[0]
    return hasil_cari.name

# def format_country(country):
#     country = country.upper()
#     hasil_cari = pycountry.countries.search_fuzzy(country)
#     if hasil_cari:
#         # Pastikan hasil yang dipilih adalah yang paling tepat, misalnya berdasarkan panjang nama
#         return max(hasil_cari, key=lambda x: len(x.name)).name
#     return country

df1['Country'] = df1['Country'].apply(format_country)
df2['Nationality'] = df2['Nationality'].apply(format_country)
print(df1['Country'].unique())
print(df2['Nationality'].unique())

['United States' 'Canada' 'United Kingdom']
['United States' 'France' 'India']

### Format Nomor Telepon

In [133]:
print("kolom telp")
print(f"DF 1 {identifikasi_kolom_telp(df1)}")
print(f"DF 2 {identifikasi_kolom_telp(df2)}")
print(f"DF 3 {identifikasi_kolom_telp(df3)}")

kolom telp
DF 1 ['Phone_Number']
DF 2 []
DF 3 []

In [134]:
angka = [str(i) for i in range(0,10)]
def ekstrak_simbol(baris):
    simbol = set()
    for nomor in baris:
        for x in nomor:
            if x not in angka and x not in simbol:
                simbol.add(x)
    return re.escape(''.join(simbol))

def format_nomor(nomor, simbol, pemisah="-"):
    clean_text = re.sub(f'[{simbol}]', '', nomor)
    chunk = []
    for i in range(0, len(clean_text), 3):
        chunk.append(clean_text[i:i+3])
    hasil = pemisah.join(chunk)
    return hasil

def panjang_nomor(nomor):
    panjang = set()
    for x in nomor:
        panjang.add(len(x))
    return list(panjang)

In [135]:
hasil = ekstrak_simbol(df1['Phone_Number'])
print(hasil)
print(f'[{hasil}]')
# hasil_panjang = panjang_nomor(df1['Phone_Number'])
# print(hasil_panjang)
df1['Phone_Number'] = df1['Phone_Number'].apply(lambda x:
format_nomor(x, hasil))
df1['Phone_Number']

\.\(\+\-\)x\
[\.\(\+\-\)x\ ]

0              250-518-127-1
1         891-222-899-208-33
2         926-729-991-740-80
3          421-698-421-547-9
4              294-283-628-6
                ...
10295    785-235-423-889-420
10296     380-450-141-606-93
10297          434-895-981-2
10298          868-251-989-9
10299    258-677-485-319-920
Name: Phone_Number, Length: 10300, dtype: object

### Format Product

In [136]:
def apakah_kolom_product(kolom):
    pattern = r'\b(product|category|produk|kategori)|(product|category|produk|kategori)\b|_(product|category|produk|kategori)[_A-Z]?'
    return re.search(pattern, kolom, re.IGNORECASE)

def identifikasi_kolom_product(df):
    kolom_id = []
    for kolom in df.columns:
        ratio = df[kolom].nunique() / len(df)
        if apakah_kolom_product(kolom):
            kolom_id.append(kolom)
    return kolom_id

print(f"DF 1 {identifikasi_kolom_product(df1)}")
print(f"DF 2 {identifikasi_kolom_product(df2)}")
print(f"DF 3 {identifikasi_kolom_product(df3)}")

DF 1 ['Product_Category', 'Product_Description']
DF 2 []
DF 3 []

In [137]:
df1["Product_Category"].isna().sum()

1309

In [138]:
df1["Product_Category"].unique()

array(['Electronics', 'Clothing', 'Furniture', 'Sports', 'Grocery',
       'Electornics', nan, 'Books'], dtype=object)

In [139]:
typo_mapping = {
    'electornics': 'electronics',
}

def frequncy_dict(df, kolom):
    return df[kolom].value_counts().to_dict()

def format_product(produk):
    produk = str(produk).lower()
    if produk in ['na','nan']:
        produk = 'Unknown'
    if produk in typo_mapping:
        produk = typo_mapping[produk]
    return produk.title()

df1['Product_Category'] = df1['Product_Category'].apply(format_product)
df1['Product_Category'].unique()

array(['Electronics', 'Clothing', 'Furniture', 'Sports', 'Grocery',
       'Unknown', 'Books'], dtype=object)

### Format Voting

In [140]:
def apakah_kolom_voting(kolom):
    pattern = r'\b(vote|voting)|(vote|voting)\b|_(vote|voting)[_A-Z]?'
    return re.search(pattern, kolom, re.IGNORECASE)

def identifikasi_kolom_voting(df):
    kolom_id = []
    for kolom in df.columns:
        ratio = df[kolom].nunique() / len(df)
        if apakah_kolom_voting(kolom):
            kolom_id.append(kolom)
    return kolom_id

print(f"DF 1 {identifikasi_kolom_voting(df1)}")
print(f"DF 2 {identifikasi_kolom_voting(df2)}")
print(f"DF 3 {identifikasi_kolom_voting(df3)}")

DF 1 []
DF 2 ['VotingStatus']
DF 3 []

In [141]:
print(df2['VotingStatus'].unique())
voting_mapping = {
    'No': 'No',
    'N': 'No',
    'Yes': 'Yes',
    'Y': 'Yes',
    ' ': 'Unknown',
    np.nan: 'Unknown'
}
df2['VotingStatus'] = df2['VotingStatus'].replace(voting_mapping)
df2['VotingStatus'].unique()

['No' 'Y' 'N' 'Registered' 'Yes' ' ']

array(['No', 'Yes', 'Registered', 'Unknown'], dtype=object)

### Format Marriage

In [142]:
def apakah_kolom_marital(kolom):
    pattern = r'\b(marital|marriage|pernikahan|nikah|perkawinan|kawin)|(marital|marriage|pernikahan|nikah|perkawinan|kawin)\b|_(marital|marriage|pernikahan|nikah|perkawinan|kawin)[_A-Z]?'
    return re.search(pattern, kolom, re.IGNORECASE)

def identifikasi_kolom_marital(df):
    kolom_id = []
    for kolom in df.columns:
        ratio = df[kolom].nunique() / len(df)
        if apakah_kolom_marital(kolom):
            kolom_id.append(kolom)
    return kolom_id

print(f"DF 1 {identifikasi_kolom_marital(df1)}")
print(f"DF 2 {identifikasi_kolom_marital(df2)}")
print(f"DF 3 {identifikasi_kolom_marital(df3)}")

DF 1 []
DF 2 ['MaritalStatus']
DF 3 []

In [ ]:
print(df2["MaritalStatus"].unique())

marital_mapping = {
    's': 'Single',
    'belum menikah': 'Single',
    'janda': 'Widowed',
    'duda' : 'Widowed',
    'cerai' : 'Divorced',
}

def format_marital(marital):
    marital = str(marital).lower()
    if marital in marital_mapping:
        marital = marital_mapping[marital]
    return marital

df2['MaritalStatus'] = df2['MaritalStatus'].apply(format_marital)
print(df2["MaritalStatus"].unique())

['Married' 'S' 'Widowed' 'Unknown' 'Single' 'Divorced']
['Married' 'Single' 'Widowed' 'Unknown' 'Divorced']

## Setelah Format

In [147]:
df1_baru = pd.read_csv("clean-custdirty_data.csv")
df2_baru = pd.read_csv("clean-government_citizenship_dirty.csv")
df3_baru = pd.read_csv("clean-hospital_data_dirty.csv")

df1_baru

,Product_Category,Purchase_Date,Price,Quantity,Product_Description,Country,Phone_Number,Email
0,Electronics,2024-03-05,65.58,11.0,"Today, Federal, Claim, Report, Consider, Publi...",United States,250-518-127-1,eric82@example.com
1,Electronics,2024-05-29,335.85,1.0,Alone Appear Example.,Canada,891-222-899-208-33,allentodd@example.org
2,Electronics,2024-05-28,106.92,19.0,"Direction, Security, Who, Ground, Trip, Room. ...",United Kingdom,926-729-991-740-80,oschultz@example.com
3,Clothing,2024-06-30,389.70,6.0,"Answer, Huge, Six, New, Tough. - Picture",Canada,421-698-421-547-9,ajohnson@example.org
4,Furniture,2024-10-14,140.78,14.0,Recent Last Economic Establish Understand.,Canada,294-283-628-6,andersonsheriexample.org.
...,...,...,...,...,...,...,...,...
9995,Furniture,2025-01-23,435.00,11.0,Network That Form East Race.,United States,773-489-727-9,david60@example.net
9996,Grocery,2024-07-16,56.34,15.0,Can Score Official Condition Fund Whom.,United States,715-500-713-175-30,erincole@example.org
9997,Electronics,2024-11-23,444.24,1.0,Hundred Than Gas Man Card Writer.,United States,244-587-717-884-77,marcia31@example.net
9998,Unknown,2024-06-15,41.64,5.0,Everyone Line Check.,Canada,846-606-868-069-07,ebryanexample.com.
9999,Electronics,2024-09-24,285.31,1.0,Rule Tv Option.,Canada,650-829-031-5,gary01@example.com

In [148]:
df2_baru

,Name,BirthDate,Nationality,Address,VotingStatus,PassportNumber,MaritalStatus,CriminalRecord,EducationLevel,Income,ImmigrationYear
0,Allen Novak,1968-06-16,United States,"597 Carr Creek Apt. 464; West Andrew; NE 76236,",No,460200468,Married,No,HS,42533.54,NaN
1,Tamara Ramsey,1987-02-11,France,"3899 Medina Roads; Crystaltown; NY 04112,",No,INVALID_our,Single,No,Masters,28175.78,NaN
2,David Williams,1937-12-15,India,"03064 Eric Ferry; Port Rebecca; AZ 09961,",Yes,E48182721,Widowed,,High School,143299.35,1986.0
3,Desiree Willis,1991-03-24,United States,"773 Perry Flats; East Michael; WY 77221,",Yes,O98365870,Married,No,Doctorate,105629.33,NaN
4,Terry Gill,2000-10-15,France,"214 Michael Crescent Suite 393, New Paulport, ...",No,R72171677,Single,Pending,PhD,117985.07,2005.0
...,...,...,...,...,...,...,...,...,...,...,...
9494,Kayla Williams,1997-09-15,France,"35087 Beck Junction, New Carlatown, AZ 39063",No,M84760677,Single,,High School,24575.24,1999.0
9495,Amanda White,1950-04-30,India,"8676 Collins Bypass Apt. 249, South Robin, CO ...",Registered,L67877705,Unknown,No,Bachelors,67548.03,NaN
9496,Gabrielle Mcdaniel,1997-02-25,India,"24418 Eric Trafficway; Gutierrezville; ME 20279,",Unknown,F79537483,Married,Yes,HS,72134.76,1972.0
9497,Wendy Landry,1971-12-18,France,"3599 Wood Lodge, Clarkshire, SC 63116",Yes,K43710456,Single,No,Doctorate,90587.75,NaN
9498,Todd Graham,1959-08-24,United States,"976 Cruz Cape Suite 442, Peterfort, ND 23795",No,645008472,Single,Pending,Bachelors,47292.07,NaN

In [149]:
df3_baru

,AdmissionDate,DischargeDate,Diagnosis,Treatment,Doctor,Department,Age,Gender,BloodType,Medication,TestResults,BillingAmount,InsuranceProvider,AppointmentDate
0,2024-10-03,2025-05-11,Appendicitis,"Special with job,",Carl Beard,Orthopedics,81,Female,B+,NaN,85/67,9495.73,NaN,2024-02-17
1,2023-06-27,2023-12-05,Fracture,"Certainly way ten,",Mary Sanchez,Endo,-88,M,O-,civil,140/118,8681.08,HC Insurance,2023-08-08
2,2024-05-18,2025-04-29,Appendicitis,"Study small,",Mr. Patrick Harris MD,Orthopedics,94,M,O-,word,92/95,2829.42,NaN,2024-05-21
3,1978-03-11,2019-10-26,COPD,"Investment human,",Donald Roach,Endocrinology,26,F,A+,NaN,140/119,1121.27,NaN,2024-11-03
4,2024-11-23,2024-12-02,Diabetes,"Every coach,",NaN,Ortho,35,Female,B-,NaN,71/68,5555.75,HC Insurance,2023-11-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7025,2024-11-06,2025-03-01,Fracture,"Imagine push,",Stephen Green,Endocrinology,60,F,A-,into,161/113,5537.98,HC Insurance,2024-12-03
7026,2023-07-19,2024-09-16,COPD,"Color sure detail from,",Lisa Key,Endocrinology,3,Male,A positive,NaN,High,3703.67,HealthPlus,2024-07-03
7027,2023-04-18,2023-06-08,Diabetes,"Always fish,",Laura Bryant,Cardio,90,U,O+,hair,153/96,5659.97,NaN,2024-07-29
7028,2024-01-03,2024-11-14,COPD,"Fire face then,",NaN,Endocrinology,35,F,B negative,NaN,158/68,3511.16,NaN,2024-12-14
7029,2024-04-12,2024-12-21,Diabetes,"Old environment official learn,",Lauren Brown,Cardio,59,Female,AB+,NaN,104/43,3445.49,HC Insurance,2024-10-11